.weathercard{
    background-color: #ccca;
    border-radius: 20px;
    width: 90%;
    max-width: 550px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.weathercard__title{
    text-transform: capitalize;
}

.weathercard__body{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 0 50px;
}

.weathercard_data{
    display:flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.weathercard__list{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.weathercard__item{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 10px;

}

.weathercard__item_span:first-child{
    text-transform: capitalize;

}

.weathercard__item_span:last-child{
   font-weight: 900 ;

}

.weathercard__temp{
    margin: 15px 0;
}

.weathercard__btn{
    
    padding: 10px 15px;
    border-radius: 5px;
    transition: transform .25s,
                box-shadow .25s;
}

.weathercard__btn:hover{
    transform: scale(1,1);
    box-shadow: 0 0 10px;
    transition: transform .25s,
                box-shadow .25s;
}